<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <th:block th:replace="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Link Sharing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  mr-5" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                      </span>
                        <input type="text" class="form-control" placeholder="Search for Topics..">

                    </div>
                </form>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#commentModel"><i class="fas fa-comment-dots"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#sendInvitationModel"><i class="fas fa-envelope"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#linkResourceModel"><i class="fas fa-link"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#documentResourceModel"><i class="fas fa-sticky-note"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active ml-3">
                <img th:src="@{/img/user.png}" class="img-thumbnail" width="50px" height="50px">
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</nav>

<div class="container-fluid mt-2">
    <div class="row">
        <!--profile card-->
        <div class="col-4">
            <div class="row">
                <div class="col-12">

                    <div class="card border-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img th:src="@{/img/user.png}" width="100px" height="100px">
                                </div>
                                <div class="col-8">
                                    <h5 class="card-title m-0" id="fullname">Full name</h5>
                                    <p class="text-info m-0 p-0">@dskd</p>
                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <p class="m-0 p-0">subscription</p>
                                            <p class="m-0 p-0">50</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="m-0 p-0">Topics</p>
                                            <p class="m-0 p-0">50</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--profile card end-->

            <!--subscription card-->
            <div class="row my-1">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Subscriptions
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <img th:src="@{/img/user.png}" height="50px" width="50px"/>
                                </div>
                                <div class="col-10">
                                    <a th:href=@{/link} class="card-title text-info">title</a>
                                    <div class="row">
                                        <div class="col-4">
                                            <p class="m-0 p-0">@uday</p>
                                            <p class="m-0 p-0">unsubsribe</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="m-0 p-0">subscription</p>
                                            <p class="m-0 p-0">50</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="m-0 p-0">post</p>
                                            <p class="m-0 p-0">30</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="inputGroupSelect01" >
                                            <option selected>seriousness</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="inputGroupSelect02" >
                                            <option selected>access</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4 p-2">
                                    <a href="#" data-toggle="modal" data-target="#sendInvitationModel"> <i class="fas fa-envelope fa-lg"></i></a>
                                    <a href=""> <i class="fas fa-edit fa-lg"></i></a>
                                    <a href=""> <i class="fas fa-trash-alt fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--subscription card ends here-->

            <!--Top posts start here-->
            <div class="row my-1">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Trending topics
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <img th:src="@{/img/user.png}" height="50px" width="50px"/>
                                </div>
                                <div class="col-10">
                                    <a th:href=@{/link} class="card-title text-info">title</a>
                                    <div class="row">
                                        <div class="col-4">
                                            <p class="m-0 p-0">@uday</p>
                                            <p class="m-0 p-0">unsubsribe</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="m-0 p-0">subscription</p>
                                            <p class="m-0 p-0">50</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="m-0 p-0">post</p>
                                            <p class="m-0 p-0">30</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="inputGroupSelect01" >
                                            <option selected>seriousness</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="inputGroupSelect01" >
                                            <option selected>access</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4 p-2">
                                    <a href="#" data-toggle="modal" data-target="#sendInvitationModel"> <i class="fas fa-envelope fa-lg"></i></a>
                                    <a href=""> <i class="fas fa-edit fa-lg"></i></a>
                                    <a href=""> <i class="fas fa-trash-alt fa-lg"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--top posts end here-->
        </div>
        <!--inbox-->
        <div class="col-8">
            <div class="card border-info">
                <div class="card-header ">Inbox</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-thumbnail" th:src="@{/img/user.png}" width="500px" height="500px">
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">Full name
                                        <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                        <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                    </h5>
                                    <p class="card-text text-justify">
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additionalcontent.
                                    </p>
                                    <span style="float: left">
                                                    <i class="fab fa-facebook-f" ></i>
                                                    <i class="fab fa-twitter"></i>
                                                    <i class="fab fa-instagram"></i>
                                                </span>

                                    <div style="float: right;">
                                    <a class="mx-1" th:href="@{/as}">Download</a>
                                    <a class="mx-1" th:href="@{/as}">View full site</a>
                                    <a class="mx-1" th:href="@{/as}">Mark as read</a>
                                    <a class="mx-1" th:href="@{/as}">visit post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-thumbnail" th:src="@{/img/user.png}" width="500px" height="500px">
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">Full name
                                        <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                        <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                    </h5>
                                    <p class="card-text text-justify">
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additionalcontent.
                                    </p>
                                    <span style="float: left">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                </span>

                                    <div style="float: right;">
                                        <a class="mx-1" th:href="@{/as}">Download</a>
                                        <a class="mx-1" th:href="@{/as}">View full site</a>
                                        <a class="mx-1" th:href="@{/as}">Mark as read</a>
                                        <a class="mx-1" th:href="@{/as}">visit post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-thumbnail" th:src="@{/img/user.png}" width="500px" height="500px">
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">Full name
                                        <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                        <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                    </h5>
                                    <p class="card-text text-justify">
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additionalcontent.
                                    </p>
                                    <span style="float: left">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                </span>

                                    <div style="float: right;">
                                        <a class="mx-1" th:href="@{/as}">Download</a>
                                        <a class="mx-1" th:href="@{/as}">View full site</a>
                                        <a class="mx-1" th:href="@{/as}">Mark as read</a>
                                        <a class="mx-1" th:href="@{/as}">visit post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-thumbnail" th:src="@{/img/user.png}" width="500px" height="500px">
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">Full name
                                        <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                        <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                    </h5>
                                    <p class="card-text text-justify">
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additional
                                        With supporting text below as a natural lead-in to additionalcontent.
                                    </p>
                                    <span style="float: left">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                    <img th:src="@{/img/user.png}" width="30px" height="30px">
                                                </span>

                                    <div style="float: right;">
                                        <a class="mx-1" th:href="@{/as}">Download</a>
                                        <a class="mx-1" th:href="@{/as}">View full site</a>
                                        <a class="mx-1" th:href="@{/as}">Mark as read</a>
                                        <a class="mx-1" th:href="@{/as}">visit post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr>



                </div>
            </div>
            <nav aria-label="Page navigation example" class="my-2">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- create topic Modal -->
<div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModelTitle">Create Topic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${topicCo}" >
                    <div class="form-group">
                        <label for="create_topic_name">Topic Name</label>
                        <input type="text" class="form-control" th:field="*{topicName}" id="create_topic_name" placeholder="topic name">
                    </div>
                    <div class="form-group">
                        <label for="create_topic_visibility">Visibility</label>
                        <select class="form-control"  id="create_topic_visibility">
                            <option th:each="val:${T(com.ttn.linksharing.enums.VisibilityEnum).values()}" th:value="${val}" th:text="${val}" >visibility</option>

                        </select>
                    </div>
                    </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveTopic">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Send Invitation model-->
<div class="modal fade" id="sendInvitationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invitationModelTitle">Send Invitation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Link Resource model-->
<div class="modal fade" id="linkResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkResourceTitle">Create Link Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${postsCo}" >
                    <div class="form-group">
                        <label for="link_resource_name">Link Name</label>
                        <input type="text" class="form-control" th:field="*{linkName}" id="link_resource_name" placeholder="topic name">
                    </div>
                    <div class="form-group">
                        <label for="link_resource_description">Link Description</label>
                        <input type="text" class="form-control" th:field="*{linkDescription}" id="link_resource_description" placeholder="topic name">
                    </div>
                    <div class="form-group">
                        <label for="link_resource_topic">Topic</label>
                        <select class="form-control"  id="link_resource_topic" th:field="*{topic}">
                            <option  th:each="val:${topicsCreatedByUser}" th:value="${val.name}" th:text="${val.name}" >visibility</option>

                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addLinkResource">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Document resource Modal model-->
<div class="modal fade" id="documentResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentResourceTitle">Create Document Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addDocumentResource" >Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
</body>
</html>