<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <th:block th:replace="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<div id="forgetPassword" class="row">
    <div class="col-6 offset-5">
        <h1 class="text-info text-center">Reset Password</h1>
            <form th:action="@{/reset}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12 text-center">
                        <label for="inputEmail4">Enter Your Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="email@example.com">
                    </div>
                </div>
                <button type="submit" class="btn btn-success resetCenter">Reset</button>
            </form>
        <a th:href="@{/}" class="text-info text-center resetCenter">Go Back</a>
    </div>
</div>
</body>
<script type="application/javascript" th:inline="javascript">
    $(document).ready(function () {
        let status=/*[[${session.forgetPasswordRequestStatus}]]*/

        if(status!=null){
            
            if (status=="success"){
                swal("Password Reset Success", "please check your email for reset password", "success", {
                    button: "Thanks!",
                });
            } else if (status=="notExists"){
                swal("Email Not Found!", "User with that email is not found", "error", {
                    button: "Try again!",
                });
            }else{

            }
            
        }
    });
</script>
</html>