<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link Sharing</title>
    <th:block th:include="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand">Link Sharing</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-7">
            <!--featured posts-->
            <div class="row">
                <div class="col-12">
                    <div class="row mb-1">
                        <div class="card border-info">
                            <div class="card-header">
                                Featured Posts
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-thumbnail" th:src="@{/img/dummy.jpg}">
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title">Special
                                                    <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                                    <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                                </h5>
                                                <p class="card-text text-justify">
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additionalcontent.
                                                </p>
                                                <span style="float: left">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                </span>
                                                <span style="float: right"><a th:href="@{/as}">visit post</a></span>

                                            </div>
                                        </div>
                                    </div>
                                </div><hr>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-thumbnail" th:src="@{/img/dummy.jpg}">
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title">Special
                                                    <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                                    <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                                </h5>
                                                <p class="card-text text-justify">
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additionalcontent.
                                                </p>
                                                <span style="float: left">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                </span>
                                                <span style="float: right"><a th:href="@{/as}">visit post</a></span>

                                            </div>
                                        </div>
                                    </div>
                                </div><hr>
                            </div>
                        </div>
                    </div>
                    <!--tranding posts-->
                    <div class="row">
                        <div class="card border-info">
                            <div class="card-header">
                                Trending Posts
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-thumbnail" th:src="@{/img/dummy.jpg}">
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title">Special
                                                    <span class="ml-1">@<a th:href="@{/as}" class="text-info">username</a></span>
                                                    <span style="float: right">
                                                    <a th:href="@{/as}" class="text-success">topic</a>
                                                </span>
                                                </h5>
                                                <p class="card-text text-justify">
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additional
                                                    With supporting text below as a natural lead-in to additionalcontent.
                                                </p>
                                                <span style="float: left">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                    <img th:src="@{/img/dummy.jpg}" width="30px" height="30px">
                                                </span>
                                                <span style="float: right"><a th:href="@{/as}">visit post</a></span>

                                            </div>
                                        </div>
                                    </div>
                                </div><hr> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row mb-2">
                <div class="col-12">

                    <div class="card border-primary">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body ">
                            <form action="#" th:action="@{/login}" th:object="${loginco}" method="post" >
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Email/Username*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{username}" class="form-control" id="inputEmail3" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Password*</label>
                                    <div class="col-8">
                                        <input type="password" th:field="*{password}" class="form-control is-valid" id="inputPassword3" placeholder="Password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-5 ">
                                        <a th:href="@{/resetPassword}" class="text-info">Forget Password</a>
                                    </div>
                                    <div class="col-4 ">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="card border-primary">
                        <div class="card-header">
                            Register
                        </div>
                        <div class="card-body ">
                            <form action="#" th:action="@{/signup}"
                                  method="post" th:object="${signupco}" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">First Name*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{firstName}" class="form-control" id="first_name" name="first_name" placeholder="First name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Last Name*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{lastName}" class="form-control" id="last_name" name="last_name" placeholder="Last name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <input type="email" th:field="*{email}" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Username*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{username}" class="form-control" id="username" email="username"placeholder="Username" required>
                                        <small id="usernameHelper" class="form-text text-muted">
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Password*</label>
                                    <div class="col-8">
                                        <input type="password" th:field="*{password}" class="form-control" id="password_original" name="password_original" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Confirm Password*</label>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Photo*</label>
                                    <div class="col-8">
                                        <input type="file"  class="form-control" id="photo" name="photo" placeholder="photo" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-5 offset-4">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>