<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link Sharing</title>
    <th:block th:include="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar.html::navbar"></th:block>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-7">
            <!--featured posts-->
            <div class="row">
                <div class="col-12">
                    <div class="row mb-1">
                        <div class="card border-info">
                            <div class="card-header">
                                Featured Posts
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                       <th:block th:each="trendingPost,itr:${trendingPosts}">

                                           <th:block th:if="${itr.index<5}">

                                               <div class="row">
                                                   <div class="col-3">
                                                       <img class="img-thumbnail" th:src="@{'/'+${trendingPost.getuser().getPhoto()}}">
                                                   </div>
                                                   <div class="col-8">
                                                       <div>
                                                       <h5 class="card-title" th:text="${trendingPost.getTitle()}">Special</h5>
                                                           <span class="ml-1">@<a th:href="@{'/user/id/'+${trendingPost.getuser().getId()}}"
                                                                                  th:text="${trendingPost.getuser().getUsername()}"
                                                                                  class="text-info">username</a></span>
                                                           <span style="float: right">
                                                        <a th:href="@{'topic/id/'+${trendingPost.gettopic().getId()}}"
                                                       th:text="${trendingPost.gettopic().getName()}"
                                                       class="text-success">topic</a>
                                                        </span>
                                                       </div>
                                                       <p class="card-text text-justify" th:text="${trendingPost.getDescription()}">
                                                           With supporting text below as a natural lead-in to additional
                                                           With supporting text below as a natural lead-in to additional
                                                       </p>
                                                       <span style="float: left">
                                                    <a th:href="@{'https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.linksharing.com/post/'+${trendingPost.getId()}}" target="_blank">
                                                        <i class="fab fa-facebook-f" data-toggle="tooltip" data-placement="top" title="Share this post on Facebook"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'http://twitter.com/share?text='+${trendingPost.getTitle()} +'&url=http://www.linksharing.com/post/'+${trendingPost.getId()}+'&hashtags=linksharing,ttn'

                                                    }" target="_blank">
                                                        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Share this post on Twitter"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'https://www.linkedin.com/shareArticle?mini=true&url=http://www.linksharing.com/post/'+${trendingPost.getId()}+'&title='+${trendingPost.getTitle()}+'&summary='+${trendingPost.getDescription()}+'&source=tothenew.com'
                                                     }" target="_blank">
                                                     <i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Share this post on linkedIn"></i>
                                                    </a>
                                                </span>
                                                       <span style="float: right"><a th:href="@{'post/id/'+${trendingPost.getId()}}">visit post</a></span>

                                                   </div>
                                               </div><hr>




                                           </th:block>

                                       </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tranding posts-->
                    <div class="row">
                        <div class="card border-info">
                            <div class="card-header">
                                Trending Posts
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <th:block th:each="featuredPost,itr:${featuredPosts}">

                                            <th:block th:if="${itr.index<5}">

                                                <div class="row">
                                                    <div class="col-3">
                                                        <img class="img-thumbnail" th:src="@{'/'+${featuredPost.getuser().getPhoto()}}">
                                                    </div>
                                                    <div class="col-8">
                                                        <div>
                                                            <h5 class="card-title" th:text="${featuredPost.getTitle()}">Special</h5>
                                                            <span class="ml-1">@<a th:href="@{'/user/id/'+${featuredPost.getuser().getId()}}"
                                                                                   th:text="${featuredPost.getuser().getUsername()}"
                                                                                   class="text-info">username</a></span>
                                                            <span style="float: right">
                                                        <a th:href="@{'topic/id/'+${featuredPost.gettopic().getId()}}"
                                                           th:text="${featuredPost.gettopic().getName()}"
                                                           class="text-success">topic</a>
                                                        </span>
                                                        </div>
                                                        <p class="card-text text-justify" th:text="${featuredPost.getDescription()}">
                                                            With supporting text below as a natural lead-in to additional
                                                            With supporting text below as a natural lead-in to additional
                                                        </p>
                                                        <span style="float: left">
                                                    <a th:href="@{'https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.linksharing.com/post/'+${featuredPost.getId()}}" target="_blank">
                                                        <i class="fab fa-facebook-f" data-toggle="tooltip" data-placement="top" title="Share this post on Facebook"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'http://twitter.com/share?text='+${featuredPost.getTitle()} +'&url=http://www.linksharing.com/post/'+${featuredPost.getId()}+'&hashtags=linksharing,ttn'

                                                    }" target="_blank">
                                                        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Share this post on Twitter"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'https://www.linkedin.com/shareArticle?mini=true&url=http://www.linksharing.com/post/'+${featuredPost.getId()}+'&title='+${featuredPost.getTitle()}+'&summary='+${featuredPost.getDescription()}+'&source=tothenew.com'
                                                     }" target="_blank">
                                                     <i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Share this post on linkedIn"></i>
                                                    </a>
                                                </span>
                                                        <span style="float: right"><a th:href="@{'post/id/'+${featuredPost.getId()}}">visit post</a></span>

                                                    </div>
                                                </div><hr>




                                            </th:block>

                                        </th:block>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row mb-2">
                <div class="col-12">

                    <div class="card border-primary">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body ">
                            <form action="#" th:action="@{/login}" th:object="${loginco}" method="post" >
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Username*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{username}" class="form-control" id="inputEmail3" placeholder="Username" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Password*</label>
                                    <div class="col-8">
                                        <input type="password" th:field="*{password}" class="form-control " id="inputPassword3" placeholder="Password" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-5 ">
                                        <a th:href="@{/resetPassword}" class="text-info">Forget Password</a>
                                    </div>
                                    <div class="col-4 ">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                </div>
                            </form>

                            <th:block th:if="${#session.getAttribute('loginErrorMessage')!=null}">
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        <th:block th:each="error:${#session.getAttribute('loginErrorMessage')}">
                                            <li th:text="${error}"></li>
                                        </th:block>
                                    </ul>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="card border-primary">
                        <div class="card-header">
                            Register
                        </div>
                        <div class="card-body ">
                            <form action="#" th:action="@{/signup}"
                                  method="post" th:object="${signupco}" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">First Name*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{firstName}" class="form-control" id="first_name" name="first_name" placeholder="First name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Last Name*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{lastName}" class="form-control" id="last_name" name="last_name" placeholder="Last name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <input type="email" th:field="*{email}" class="form-control" id="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-4 col-form-label">Username*</label>
                                    <div class="col-8">
                                        <input type="text" th:field="*{username}" class="form-control" id="username" email="username"placeholder="Username" required>
                                        <small id="usernameHelper" class="form-text text-muted">
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Password*</label>
                                    <div class="col-8">
                                        <input type="password" th:field="*{password}" class="form-control" id="password_original" name="password_original" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Confirm Password*</label>
                                    <div class="col-8">
                                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-4 col-form-label">Photo*</label>
                                    <div class="col-8">
                                        <input type="file"  class="form-control" id="photo" name="photo" placeholder="photo" >
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-5 offset-4">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>
                                </div>
                            </form>
                            <th:block th:if="${#session.getAttribute('signupErrorMessage')!=null}">
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        <th:block th:each="error:${#session.getAttribute('signupErrorMessage')}">
                                            <li th:text="${error}"></li>
                                        </th:block>
                                    </ul>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>