<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <th:block th:replace="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<!--navbar-->
<th:block th:replace="fragments/navbar.html::navbar"></th:block>


<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-6">
            <div class="card border-primary">
                <div class="card-header">Posts result</div>
                <div class="card-body text-success">
                    <div class="row">
                        <div class="col-12">
                            <th:block th:each="post,itr:${postList}">

                                <div class="row">
                                    <div class="col-3">
                                        <img class="img-thumbnail" th:src="@{'/'+${post.getuser().getPhoto()}}">
                                    </div>
                                    <div class="col-8">
                                        <div>
                                            <h5 class="card-title" th:text="${post.getTitle()}">Special</h5>
                                            <span class="ml-1">@<a th:href="@{'/user/id/'+${post.getuser().getId()}}"
                                                                   th:text="${post.getuser().getUsername()}"
                                                                   class="text-info">username</a></span>
                                            <span style="float: right">
                                                        <a th:href="@{'topic/id/'+${post.gettopic().getId()}}"
                                                           th:text="${post.gettopic().getName()}"
                                                           class="text-success">topic</a>
                                                        </span>
                                        </div>
                                        <p class="card-text text-justify" th:text="${post.getDescription()}">
                                            With supporting text below as a natural lead-in to additional
                                            With supporting text below as a natural lead-in to additional
                                        </p>
                                        <span style="float: left">
                                                    <a th:href="@{'https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.linksharing.com/post/'+${post.getId()}}" target="_blank">
                                                        <i class="fab fa-facebook-f" data-toggle="tooltip" data-placement="top" title="Share this post on Facebook"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'http://twitter.com/share?text='+${post.getTitle()} +'&url=http://www.linksharing.com/post/'+${post.getId()}+'&hashtags=linksharing,ttn'

                                                    }" target="_blank">
                                                        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Share this post on Twitter"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'https://www.linkedin.com/shareArticle?mini=true&url=http://www.linksharing.com/post/'+${post.getId()}+'&title='+${post.getTitle()}+'&summary='+${post.getDescription()}+'&source=tothenew.com'
                                                     }" target="_blank">
                                                     <i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Share this post on linkedIn"></i>
                                                    </a>
                                                </span>
                                        <span style="float: right"><a th:href="@{'post/id/'+${post.getId()}}">visit post</a></span>

                                    </div>
                                </div><hr>

                            </th:block>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-info">
                <div class="card-header">Topics results</div>
                <div class="card-body text-dark">
                    <th:block  th:each="topic,itr:${topicList}">

                        <div class="row trendingTopic">
                            <div class="col-2">
                                <img th:src="@{'/'+${topic.getUser().getPhoto()}}" height="50px" width="50px"/>
                            </div>
                            <div class="col-10">
                                <a th:href=@{'/topic/id/'+${topic.getId()}} class="card-title text-info"
                                   th:text="${topic.getName()}"
                                >title</a>
                                <div class="row">
                                    <div class="col-4">
                                        <a th:href=@{'/user/id/'+${topic.getUser().getId()}}>
                                            <p class="m-0 p-0 text-primary"
                                               th:text="${'@'+topic.getUser().getUsername()}"
                                            >@uday</p>
                                        </a>
                                        <th:block th:if="${#session.getAttribute('login')=='true' &&
                   #session.getAttribute('login')!=null}">
                                            <th:block th:if="${currentUser.getSubscribedTopicId().contains(topic.getId()) and currentUser.getId()!=topic.getUser().getId()}">
                                                <a href="#" th:data-topic-id="${topic.getId()}" th:data-subunsub-toggle="${'unsubscribe'}"
                                                   id="toggleSubscription"
                                                   data-toggle="tooltip" data-placement="top" title="unsubscribe this topic"
                                                > <p class="m-0 p-0" th:text="${'unsubscribe'}">unsubscribe</p></a>
                                            </th:block>
                                            <th:block th:unless="${currentUser.getSubscribedTopicId().contains(topic.getId())}">
                                                <a href="#" th:data-topic-id="${topic.getId()}" th:data-subunsub-toggle="${'subscribe'}"
                                                   id="toggleSubscription"
                                                   data-toggle="tooltip" data-placement="top" title="susbcribe this topic"
                                                > <p class="m-0 p-0" th:text="${'subscribe'}">subscribe</p></a>
                                            </th:block>
                                        </th:block>

                                    </div>
                                    <div class="col-5">
                                        <p class="m-0 p-0">subscription</p>
                                        <p class="m-0 p-0"
                                           th:text="${topic.getSubscription().size()}"
                                        >50</p>
                                    </div>
                                    <div class="col-3">
                                        <p class="m-0 p-0">post</p>
                                        <p class="m-0 p-0"
                                           th:text="${topic.getposts().size()}"
                                        >30</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <th:block th:if="${#session.getAttribute('login')=='true' and
                   #session.getAttribute('login')!=null}">
                            <div class="row">
                                <div class="col-4">
                                    <th:block th:if="${currentUser.getSubscribedTopicId().contains(topic.getId())}">
                                        <div class="input-group mb-3">
                                            <select class="custom-select" id="selectSeriousness">
                                                <option
                                                        th:each="val:${T(com.ttn.linksharing.enums.SeriousnessEnum).values()}" th:value="${val}" th:text="${val}"
                                                        th:selected="${val.toString()==topic.getName()}"
                                                >seriousness</option>
                                            </select>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="col-4">
                                    <th:block th:if="${currentUser.getSubscribedTopicId().contains(topic.getId())}">
                                        <div class="input-group mb-3">
                                            <select class="custom-select" id="selectAccess">
                                                <option
                                                        th:each="val:${T(com.ttn.linksharing.enums.VisibilityEnum).values()}" th:value="${val}" th:text="${val}"
                                                        th:selected="${val.toString()==topic.getVisibility()}"
                                                >Access</option>
                                            </select>
                                        </div>
                                    </th:block>
                                </div>

                                <div class="col-4 p-2">
                                    <a href="#" data-toggle="modal" data-target="#sendInvitationModel"> <i class="fas fa-envelope fa-lg" data-toggle="tooltip" data-placement="top" title="invite people for this topic"></i></a>
                                    <th:block th:if="${#session.getAttribute('login')=='true' and
                   #session.getAttribute('login')!=null}">

                                        <th:block th:if="${currentUser.getId()==topic.getUser().getId()}">
                                            <a href=""> <i class="fas fa-edit fa-lg" data-toggle="tooltip" data-placement="top" title="Edit topic"></i></a>
                                            <a href=""> <i class="fas fa-trash-alt fa-lg" data-toggle="tooltip" data-placement="top" title="delete topic"></i></a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                        <hr/>


                    </th:block>


                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${#session.getAttribute('login')=='true' &&
                   #session.getAttribute('login')!=null}">
    <!-- create topic Modal -->
    <div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModelTitle">Create Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${topicCo}" >
                        <div class="form-group">
                            <label for="create_topic_name">Topic Name</label>
                            <input type="text" class="form-control" th:field="*{topicName}" id="create_topic_name" placeholder="topic name">
                            <small id="topicnamehelper" class="form-text text-muted">
                                Public topics should be unique
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="create_topic_visibility">Visibility</label>
                            <select class="form-control"  id="create_topic_visibility">
                                <option th:each="val:${T(com.ttn.linksharing.enums.VisibilityEnum).values()}" th:value="${val}" th:text="${val}" >visibility</option>

                            </select>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveTopic">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Send Invitation model-->
    <div class="modal fade" id="sendInvitationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invitationModelTitle">Send Invitation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  >
                        <div class="form-group">
                            <label for="link_resource_name">Receiver's Email</label>
                            <input type="email" class="form-control" id="receiver_email" placeholder="mail@example.com">
                        </div>
                        <div class="form-group">
                            <label for="link_resource_topic">Topic</label>
                            <select class="form-control"  id="invitation_topic">
                                <option  th:each="val:${currentUser.getSubscriptions()}" th:value="${val.getTopic().getId()}" th:text="${val.getTopic().getName()}" >Topic name</option>

                            </select>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendInvite">Send Invitation</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Link Resource model-->
    <div class="modal fade" id="linkResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="linkResourceTitle">Create Link Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${postsCo}" >
                        <div class="form-group">
                            <label for="link_resource_name">Link Name</label>
                            <input type="text" class="form-control" th:field="*{postName}" id="link_resource_name" placeholder="Link name">
                        </div>
                        <div class="form-group">
                            <label for="link_resource_description">Link Description</label>
                            <textarea class="form-control" th:field="*{postDescription}" id="link_resource_description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="link_resource_location">Link Location</label>
                            <input type="text" class="form-control" th:field="*{location}" id="link_resource_location" placeholder="http://www.example.com">
                        </div>
                        <div class="form-group">
                            <label for="link_resource_topic">Topic</label>
                            <select class="form-control"  id="link_resource_topic" th:field="*{topic}">
                                <option  th:each="val:${currentUser.getSubscriptions()}" th:value="${val.getTopic().getId()}" th:text="${val.getTopic().getName()}" >Topic name</option>

                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addLinkResource">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Document resource Modal model-->
    <div class="modal fade" id="documentResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentResourceTitle">Create Document Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="documentResourceForm" th:object="${postsCo}" method="post" enctype="multipart/form-data" th:action="@{/createDocumentResource}">
                        <div class="form-group">
                            <label for="link_resource_name">Document Name</label>
                            <input type="text" class="form-control" th:field="*{postName}" id="document_resource_name" placeholder="Description name">
                        </div>
                        <div class="form-group">
                            <label for="document_resource_description">Document Description</label>
                            <textarea class="form-control" th:field="*{postDescription}" id="document_resource_description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="link_resource_topic">Topic</label>
                            <select class="form-control"  id="document_resource_topic" th:field="*{topic}">
                                <option  th:each="val:${currentUser.getSubscriptions()}" th:value="${val.getTopic().getId()}" th:text="${val.getTopic().getName()}" >Topic name</option>

                            </select>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="document_resource_file">
                            <label class="custom-file-label" for="document_resource_file">Upload Document</label>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addDocumentResource" >Save changes</button>
                </div>

                </form>
            </div>
        </div>
    </div>

</th:block>

<script src="/js/dashboard.js"></script>
</body>
</html>