<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Topic</title>
    <th:block th:replace="fragments/plugins.html::plugins"></th:block>
</head>
<body>
<!--navbar-->
<th:block th:replace="fragments/navbar.html::navbar"></th:block>


<th:block th:if="${topic==null}">
    <h1 class="text-center text-danger" style="margin-top: 15%">Oops!! No Topic with that id ¯\_(ツ)_/¯</h1>
    <br><a href="/"><h4 class="text-info text-center my-2">homepage?</h4></a>
</th:block>


<th:block th:unless="${topic==null}">
<div class="container-fluid mt-2">
    <div class="row">
        <!--profile card-->
        <div class="col-4">
            <!--Topic card starts now-->

            <div class="row">
                <div class="col-12">
                    <div class="card border-info">
                        <div class="card-header"
                             th:text="${'Topic : '+topic.getName()}"
                        >
                            Topic Name
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img th:src="@{'/'+${topic.getUser().getPhoto()}}" width="100px" height="100px">
                                </div>
                                <div class="col-8">
                                    <h5 class="card-title m-0" id="fullname"
                                        th:text="${topic.getName()}"
                                    >Topic Name</h5>
                                    <a th:href="@{/user/id/{id}(id=${topic.getUser().getId()})}">
                                    <p class="text-info m-0 p-0"  th:text="'@'+${topic.getUser().getUsername()}">@dskd</p></a>
                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <p class="m-0 p-0">Subscriptions</p>
                                            <p class="m-0 p-0"
                                               th:text="${topic.getSubscription().size()}"
                                            >50</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="m-0 p-0">Posts</p>
                                            <p class="m-0 p-0"
                                               th:text="${topic.getposts().size()}"
                                            >50</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Topic card end-->

            <!--subscription card-->
            <div class="row my-1">
                <div class="col-12">
                    <div class="card border-dark">
                        <div class="card-header">
                            Subscriptions
                        </div>
                        <div class="card-body">
                            <th:block th:each="subscription,itr:${topic.getSubscription()}">

                                <div class="row">
                                    <div class="col-2">
                                        <img th:src="@{'/'+${subscription.getUser().getPhoto()}}" height="50px" width="50px"/>
                                    </div>
                                    <div class="col-10">
                                        <a th:href=@{'/user/id/'+${subscription.getUser().getId()}} class="card-title text-info"
                                           th:text="${subscription.getUser().getFirstName()+' '+subscription.getUser().getLastName()}"
                                        >title</a>
                                        <div class="row">
                                            <div class="col-3">
                                                <a th:href="@{/user/id/{id}(id=${subscription.getUser().getId()})}">

                                                <p class="m-0 p-0 text-primary"
                                                   th:text="'@'+${subscription.getUser().getUsername()}"
                                                >@uday</p>
                                                </a>

                                            </div>
                                            <div class="col-5">
                                                <p class="m-0 p-0">subscription</p>
                                                <p class="m-0 p-0"
                                                   th:text="${subscription.getUser().getSubscription().size()}"
                                                >50</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="m-0 p-0">post</p>
                                                <p class="m-0 p-0"
                                                   th:text="${subscription.getUser().gettopics().size()}"
                                                >30</p>
                                            </div>
                                        </div>

                                    </div>
                                </div> <hr/>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <!--subscription card ends here-->
        </div>
        <!--topic posts start-->
        <div class="col-8">
            <div class="card border-info">
                <div class="card-header" id="asdsd"
                th:text="${'Posts : '+topic.getName()}"
                >Posts</div>
                <div class="card-body" id="inbox">
                    <h3 class="text-muted text-center my-2" style="display: none" id="emptyInboxMessage">No More Posts<br><small>try checking after some time</small></h3>
                    <th:block th:each="post,itr:${topic.getposts()}">
                        <th:block th:if="${#session.getAttribute('login')!=null and
                            #session.getAttribute('login')=='true' and
                              currentUser.getUnreadPostsId().contains(post.getId())}"
                                  >
                            <div class="row inboxPost mb-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <img class="img-thumbnail" th:src="@{'/'+${post.getuser().getPhoto()}}" width="500px" height="500px">
                                        </div>
                                        <div class="col-10">
                                            <div>
                                                <h5 class="card-title"
                                                    th:text="${post.getTitle()}"
                                                >Post name</h5>
                                                <span class="ml-1">@<a th:href="@{'/user/id/'+${post.getuser().getId()}}"
                                                                       th:text="${post.getuser().getUsername()}" class="text-info">username</a></span>
                                                <span style="float: right">
                                                    <a th:href="@{/topic/id/{topicId}(topicId=${post.gettopic().getId()})}"
                                                       th:text="${post.gettopic().getName()}"
                                                       class="text-success">topic</a>
                                                </span>
                                            </div>
                                            <p class="card-text text-justify"
                                               th:text="${post.getDescription()}"
                                            >
                                                With supporting text below as a natural lead-in to additional
                                                With supporting text below as a natural lead-in to additional
                                            </p>
                                            <span style="float: left">
                                                    <a th:href="@{'https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.linksharing.com/post/'+${post.getId()}}" target="_blank">
                                                        <i class="fab fa-facebook-f" data-toggle="tooltip" data-placement="top" title="Share this post on Facebook"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'http://twitter.com/share?text='+${post.getTitle()} +'&url=http://www.linksharing.com/post/'+${post.getId()}+'&hashtags=linksharing,ttn'

                                                    }" target="_blank">
                                                        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Share this post on Twitter"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'https://www.linkedin.com/shareArticle?mini=true&url=http://www.linksharing.com/post/'+${post.getId()}+'&title='+${post.getTitle()}+'&summary='+${post.getDescription()}+'&source=tothenew.com'
                                                     }" target="_blank">
                                                     <i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Share this post on linkedIn"></i>
                                                    </a>
                                                </span>

                                            <div style="float: right;">

                                                <a class="mx-1" th:href="@{${post.getresources().getLocation()}}"
                                                   th:if="${post.getresources().getType()=='LINK'}"
                                                   target="_blank"
                                                >View full site</a>
                                                <a class="mx-1" th:href="@{${post.getresources().getLocation()}}"
                                                   th:if="${post.getresources().getType()=='DOCUMENT'}"
                                                   id="downloadDocument" download>Download</a>
                                                <a class="mx-1" href="#" id="markAsRead" th:data-post-id="${post.getId()}">Mark as read</a>
                                                <a class="mx-1" th:href="@{/post/id/{id}(id=${post.getId()})}">visit post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </th:block>
                        <!--iterate when not logged in -->
                        <th:block th:unless="${#session.getAttribute('login')!=null and
                            #session.getAttribute('login')=='true' and
                             currentUser.getUnreadPostsId().contains(post.getId())}"
                        >
                            <div class="row inboxPost mb-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-2">
                                            <img class="img-thumbnail" th:src="@{'/'+${post.getuser().getPhoto()}}" width="500px" height="500px">
                                        </div>
                                        <div class="col-10">
                                            <div>
                                                <h5 class="card-title"
                                                    th:text="${post.getTitle()}"
                                                >Post name</h5>
                                                <span class="ml-1">@<a th:href="@{'/user/id/'+${post.getuser().getId()}}"
                                                                       th:text="${post.getuser().getUsername()}" class="text-info">username</a></span>
                                                <span style="float: right">
                                                    <a th:href="@{/topic/id/{topicId}(topicId=${post.gettopic().getId()})}"
                                                       th:text="${post.gettopic().getName()}"
                                                       class="text-success">topic</a>
                                                </span>
                                            </div>
                                            <p class="card-text text-justify"
                                               th:text="${post.getDescription()}"
                                            >
                                                With supporting text below as a natural lead-in to additional
                                                With supporting text below as a natural lead-in to additional
                                            </p>
                                            <span style="float: left">
                                                    <a th:href="@{'https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.linksharing.com/post/'+${post.getId()}}" target="_blank">
                                                        <i class="fab fa-facebook-f" data-toggle="tooltip" data-placement="top" title="Share this post on Facebook"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'http://twitter.com/share?text='+${post.getTitle()} +'&url=http://www.linksharing.com/post/'+${post.getId()}+'&hashtags=linksharing,ttn'

                                                    }" target="_blank">
                                                        <i class="fab fa-twitter" data-toggle="tooltip" data-placement="top" title="Share this post on Twitter"></i>
                                                    </a>
                                                    <a th:href="@{
                                                    'https://www.linkedin.com/shareArticle?mini=true&url=http://www.linksharing.com/post/'+${post.getId()}+'&title='+${post.getTitle()}+'&summary='+${post.getDescription()}+'&source=tothenew.com'
                                                     }" target="_blank">
                                                     <i class="fab fa-linkedin" data-toggle="tooltip" data-placement="top" title="Share this post on linkedIn"></i>
                                                    </a>
                                                </span>

                                            <div style="float: right;">

                                                <a class="mx-1" th:href="@{${post.getresources().getLocation()}}"
                                                   th:if="${post.getresources().getType()=='LINK'}"
                                                   target="_blank"
                                                >View full site</a>
                                                <a class="mx-1" th:href="@{${post.getresources().getLocation()}}"
                                                   th:if="${post.getresources().getType()=='DOCUMENT'}"
                                                   id="downloadDocument" download>Download</a>
                                                <a class="mx-1" th:href="@{/post/id/{id}(id=${post.getId()})}">visit post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </th:block>



                    </th:block>

                </div>
            </div>
            <nav aria-label="Page navigation example" class="my-2">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--topic posts end-->
    </div>
</div>
</th:block>


<th:block th:if="${#session.getAttribute('login')=='true' &&
                   #session.getAttribute('login')!=null}">
    <!-- create topic Modal -->
    <div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModelTitle">Create Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${topicCo}" >
                        <div class="form-group">
                            <label for="create_topic_name">Topic Name</label>
                            <input type="text" class="form-control" th:field="*{topicName}" id="create_topic_name" placeholder="topic name">
                            <small id="topicnamehelper" class="form-text text-muted">
                                Public topics should be unique
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="create_topic_visibility">Visibility</label>
                            <select class="form-control"  id="create_topic_visibility">
                                <option th:each="val:${T(com.ttn.linksharing.enums.VisibilityEnum).values()}" th:value="${val}" th:text="${val}" >visibility</option>

                            </select>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveTopic">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Send Invitation model-->
    <div class="modal fade" id="sendInvitationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invitationModelTitle">Send Invitation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Link Resource model-->
    <div class="modal fade" id="linkResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="linkResourceTitle">Create Link Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${postsCo}" >
                        <div class="form-group">
                            <label for="link_resource_name">Link Name</label>
                            <input type="text" class="form-control" th:field="*{postName}" id="link_resource_name" placeholder="Link name">
                        </div>
                        <div class="form-group">
                            <label for="link_resource_description">Link Description</label>
                            <textarea class="form-control" th:field="*{postDescription}" id="link_resource_description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="link_resource_location">Link Location</label>
                            <input type="text" class="form-control" th:field="*{location}" id="link_resource_location" placeholder="http://www.example.com">
                        </div>
                        <div class="form-group">
                            <label for="link_resource_topic">Topic</label>
                            <select class="form-control"  id="link_resource_topic" th:field="*{topic}">
                                <option  th:each="val:${currentUser.getSubscriptions()}" th:value="${val.getTopic().getId()}" th:text="${val.getTopic().getName()}" >Topic name</option>

                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addLinkResource">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Document resource Modal model-->
    <div class="modal fade" id="documentResourceModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentResourceTitle">Create Document Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="documentResourceForm" th:object="${postsCo}" method="post" enctype="multipart/form-data" th:action="@{/createDocumentResource}">
                        <div class="form-group">
                            <label for="link_resource_name">Document Name</label>
                            <input type="text" class="form-control" th:field="*{postName}" id="document_resource_name" placeholder="Description name">
                        </div>
                        <div class="form-group">
                            <label for="document_resource_description">Document Description</label>
                            <textarea class="form-control" th:field="*{postDescription}" id="document_resource_description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="link_resource_topic">Topic</label>
                            <select class="form-control"  id="document_resource_topic" th:field="*{topic}">
                                <option  th:each="val:${currentUser.getSubscriptions()}" th:value="${val.getTopic().getId()}" th:text="${val.getTopic().getName()}" >Topic name</option>

                            </select>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="document_resource_file">
                            <label class="custom-file-label" for="document_resource_file">Upload Document</label>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addDocumentResource" >Save changes</button>
                </div>

                </form>
            </div>
        </div>
    </div>

</th:block>

<script src="/js/dashboard.js"></script>
</body>
</html>